/*
  Created by Ivan
  Student #  - c00185055
  Course: Software Development

  Purpose - Styling Rental Report screen
*/


/* Report section -contains all dynamic content from Database */
.reportSection{
    overflow: scroll;  /* The overflow property specifies that content of this div will be scrollable */
    width: auto;
    height: 600px;
    margin-left: 25px;
    margin-right: 25px;
    border: 2px solid honeydew;
    border-radius: 8px;
    background-color: whitesmoke;
}

/* section for search box */
#searchSection{
    padding-top: 10px;
    margin-left: 25px;
    padding-bottom: 20px;

}

/* search field properties */
.search{
    width: 200px;
    border-radius: 8px;
    border: 2px solid black;
    padding: 8px 5px 5px 30px;
    font-size: 16px;
    background: url(../Icons/search_black.png) no-repeat 10px 10px;
    background-color: gainsboro;
    color: black;
}

.search:focus{
    background-color: aliceblue;
}
/* Rental report table */
#accTable, td {
    border-color: aliceblue;
    border-spacing: 1px;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;

}
#accTable{
    background-color: grey;
    width: 950px;
}

/* Css proreties to alter row colors */
.row:nth-child(even) {background: #CCC}
.row:nth-child(odd) {background: #FFF}

/* on hover -> change color */
.row:hover {
    background-color: #25344D;
    color: whitesmoke;


}
/* table headers */
th {
    border: 2px solid;
    background-color: black;
    font: bold 16px sans-serif;
    color: #fff;
    padding: 20px 5px 10px 10px;
    height: 60px;
    border-radius: 8px;
}
td{
    height: 40px;
    padding: 10px 10px 10px 10px;
}



