@font-face {
    font-family: 'Corbert';
    src: url('corbert_regular_regular.eot');
    src: url('corbert_regular_regular.eot?#iefix') format('embedded-opentype'),
         url('corbert_regular_regular.woff') format('woff'),
         url('corbert_regular_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Corbert';
    src: url('corbert_italic_italic.eot');
    src: url('corbert_italic_italic.eot?#iefix') format('embedded-opentype'),
         url('corbert_italic_italic.woff') format('woff'),
         url('corbert_italic_italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
